{% extends "base.html" %}
{% block title %}
    Abdurasulov Codes Page
{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a data-url="{% url 'home' %}"   class="navbar-brand pro-link">Abdurasulov Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active pro-link " data-url="{% url 'home' %}" aria-current="page" >Home</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active pro-link" data-url="{% url 'article_create' %}" aria-current="page" >Publish Article</a>
          </li> 
          {% endif %}
        </ul>
        <div class="navbar-text" >
          {% if request.user.is_authenticated %}
            <a class="btn btn-primary-outline" href="{% url 'logout' %}"   >Logout</a> 
          {% else %} 
            <a class="btn btn-primary-outline pro-link" data-url="{% url 'login' %}"  >Login</a> 
          {% endif %}  
        </div>
      </div>
    </div>
</nav>
  <div id="main" >

  </div>
  <br><br><br>
  <center>
    <small class="text-muted" >Abdurasulov Codes | One page App</small>
  </center>
  <script>
        setPage('home/')
  </script>
{% endblock content %}